{# Fichier: templates/favorite/_like_button.html.twig #}

{# Le bouton est affiché uniquement si un utilisateur est connecté #}
{% if app.user %}
    {# Calculez le statut si non fourni (pour le rendu initial de la page) #}
    {% if isLiked is not defined %}
        {% set isLiked = is_article_liked(article.url) %}
    {% endif %}

    {# Crée un ID de jeton CSRF unique et un nom de frame basé sur le hash de l'URL #}
    {% set urlHash = article.url|hash %}
    {% set token_id = 'favorite_toggle' ~ urlHash %}

    {# NOUVELLE STRUCTURE : La DIV sert de Turbo Frame et de conteneur pour le positionnement absolu #}
    <div data-turbo-frame="like_button_frame_{{ urlHash }}" class="like-button-container">
        <form method="POST" action="{{ path('app_favorite_toggle') }}">
            {# Jeton CSRF pour la sécurité #}
            <input type="hidden" name="_token" value="{{ csrf_token(token_id) }}">

            {# Champs cachés pour renvoyer les données de l'article au contrôleur #}
            <input type="hidden" name="url" value="{{ article.url }}">
            <input type="hidden" name="title" value="{{ article.title }}">
            <input type="hidden" name="image" value="{{ article.image }}">
            <input type="hidden" name="sourceName" value="{{ article.source.name|default('Source Inconnue') }}">

            {# Utilisation des classes Bootstrap pour enlever le style de bouton par défaut #}
            <button type="submit" class="btn btn-link p-0 like-button-icon" title="Ajouter aux favoris">

                {# L'icône change en fonction de l'état de "like" #}
                {% if isLiked %}
                    <span style="color: red;">❤️</span>
                {% else %}
                    <span>🤍</span>
                {% endif %}
            </button>
        </form>
    </div>
{% endif %}
